body
{
 font-family: Times;
 font-size: 20px;
 text-align:center;

 height:100%;
 line-height: 1;
 margin: 55px 55px 55px 55px;
 
}
.header img {
  float: left;  
}
ul.navigation {
  display: block;
	text-decoration: none;
	height: 41px;
	line-height: 41px;
	padding: 50px 30px 30px 10px;
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;


}
ul button{
 margin-right:30px;
 width:100px;
 height:50px;
 border-radius: 12px;
 font-size:12px;


}
article
{
  display: inline-block;
  text-align:left;
  padding:auto;
  width:100%;
  background-color: lightskyblue;
  margin: 55px 55px 0 0;

 }
 article div img{
   border-radius:50%;
   width:200px;
 }
article #smiling{
  border-radius:0;
  width: 500px;
  height:450px;
  padding:auto;
  margin: 0 55px 0 0;
}
 * {
  box-sizing: border-box;
}

 body .column {
  float: left;
  height: 300px; 
  margin:0 0 0 0;
  border:5px;
  width:32%;
  font-size: 15px;
  
}

body .row:after {
  content: "";
  display: block;
  clear: both;
}

Content{
  text-align: left;
}
content div .column img{
  padding:auto;

}
hr { 
  border: 0;
  height: 1px;
  background: #333;
  border-bottom:1px dashed #ccc;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);

}
content .row #column1 hr{
  border-bottom:1px dashed #ccc;
  float:left;
  width:300px;

} 
content .row #column2 hr{
  border-bottom:1px dashed #ccc;
  width:450px;
  float:left;

} 

content .row #column3 hr{
  border-bottom:1px dashed white ;
  width:400px;
  float:left;

} 

content p{
  opacity: 0.5;
}

.footer .column {
  float: center;
  width: 20%;
  padding: 10px;
  height: 225px;
  margin: 300px 0 0 0;
  background-color: silver;
  text-align: center;
 }
 html {
  height: 100%;
  width: 100%;
}



